
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_LayoutTemple.cshtml";
}

<h2>Recomendados para ti</h2>
@{
    const int cartasVisibles = 7;
    int contador = 0;

}
@foreach (var r in ViewBag.recomendados)
{
    <h2>@r.prefApr.desSub</h2>

    if (r.instructores.Count <= 0)
    {

        <div class="well well-sm">
            No hay recomendados
        </div>

    }
    else
    {

        <div class="cycle-slideshow"
             data-cycle-fx="carousel"
             data-cycle-timeout=0
             data-cycle-carousel-visible=@cartasVisibles
             data-cycle-next="#next@(contador)"
             data-cycle-prev="#prev@(contador)"
             data-cycle-pager="#pager"
             data-cycle-slides="> div"
             data-allow-wrap="false">



            @foreach (var ci in r.instructores)
            {
                <a href="@Url.Action("PerfilInstructor", "Alumno",new { idInstructor=ci.codigo})">
                <div class="thumbnail carta">
        <img src="~/imagenes/mila.jpg" class="img-perfil-carta"
             alt="...">
        <div class="caption">
            <h4 class="text-center">@ci.nombres  @ci.apPaterno</h4>
            <h5 class="text-center text-muted">@ci.especialidad</h5>
            <h6 class="text-center text-muted">@ci.distancia</h6>

            <!-- Itera para mostrar la calificación -->
            <div class="text-center">
                @for (int cal = 1; cal <= 5; cal++)
                {

                    if (cal <= ci.calificacion)
                    {

                        <span class="fa fa-star checked"></span>

                    }
                    else
                    {
                        <span class="fa fa-star"></span>

                    }


                }
            </div>
        </div>
    </div>
</a>
            }


            <div class="center">
                <a href="#" id="prev@(contador)">&lt;&lt; Prev </a>
                <a href="#" id="next@(contador)"> Next &gt;&gt; </a>
            </div>
            @{
                contador++;
                
            }

        </div>

    }

}


<h2>O busca nuevos expertos</h2>
@using (Html.BeginForm())
{
    @Html.Hidden("vista", 0);
    <div class="row" style="margin: 20px 0 20px 0;">
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-6 text-center" style="vertical-align:middle">
                    <label>Categoría</label>
                </div>
                <div class="col-sm-6">
                    @Html.DropDownList("cboCategoria", (SelectList)ViewBag.categorias, null, new { @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-6 text-center" style="vertical-align:middle">
                    <label>Subcategoría</label>
                </div>
                <div class="col-sm-6">
                    @Html.DropDownList("cboSubcategoria", (SelectList)ViewBag.subcategorias, null, new { @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <input type="submit" class="btn btn-primary" value="Buscar" />
        </div>
        <div class="col-sm-2">
            <div class="col-sm-8 text-center" style="vertical-align:middle">
                <label id="lblVista" for="chkVista">Vista de cuadrícula</label>
            </div>
            <div class="col-sm-4">
                <label class="switch" style="float:right">
                    <input type="checkbox" id="chkVista">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    </div>
}




<div id="mapid"></div>

<div class="resultados">

    @if (ViewBag.busqueda.Count <= 0)
    {

        <div class="well well-sm">
            La búsqueda no obtuvo resultados. Intente con otras opciones
        </div>

    }

    @foreach (var i in ViewBag.busqueda)
    {
        <a href="@Url.Action("PerfilInstructor", "Alumno",new { idInstructor=i.codigo})">

            <div class="thumbnail carta">
                <img src="~/imagenes/mila.jpg" class="img-perfil-carta"
                     alt="...">
                <div class="caption">
                    <h4 class="text-center">@i.nombres  @i.apPaterno</h4>
                    <h5 class="text-center text-muted">@i.especialidad</h5>
                    <h6 class="text-center text-muted">@i.distancia</h6>

                    <!-- Itera para mostrar la calificación -->
                    <div class="text-center">
                        @for (int cal = 1; cal <= 5; cal++)
                        {

                            if (cal <= i.calificacion)
                            {

                                <span class="fa fa-star checked"></span>

                            }
                            else
                            {
                                <span class="fa fa-star"></span>

                            }


                        }
                    </div>
                </div>
            </div>
            </a>
            }

    </div>

<script>
    $(document).ready(function () {

        $('.cycle-slideshow').css('width', '100%');
        $('.thumbnail').css('float', 'left');
        $('.thumbnail').css('height', '350px');

        // Cargo mi mapa
        var map = L.map('mapid');
        // placeholders for the L.marker and L.circle representing user's current position and accuracy
        var current_position, current_accuracy;

        // Establezco según la vista seleccionada. 0=Cuadrícula, 1=Mapa
        var vista =@ViewBag.vista;
        switch (vista) {
            case 1:
                $('#chkVista').prop('checked', true);

                vistaMapa();
                break;
            default:
                $('#chkVista').prop('checked', false);

                vistaCuadricula();               

        }

        // Al hacer click
        //map.on('click', onMapClick);

        function onMapClick(e) {
            alert("You clicked the map at " + e.latlng);
        }

        $("#cboCategoria").change(function () {

            var url ="@Url.Action("obtenerSubcategorias", "Alumno")";
            var valor = $("#cboCategoria").val();
            var data = { categoria: valor };

            $.ajax({
                type: "POST",
                url: url,
                data: data,
                dataType: "json",
                success: function (response) {

                    $("#cboSubcategoria").empty();

                    var lista = JSON.parse(response);

                    for (var i in lista) {

                        var descripcion = lista[i].descripcion;
                        var id = lista[i].id;

                        $("#cboSubcategoria").append("<option value'" + id + "'>" + descripcion + "</option>");

                    }



                  }



            });

        });

        $('#chkVista').change(
            function () {
                if (this.checked) {
                    vistaMapa();                    
                } else {
                    vistaCuadricula();
                }
            });

        function vistaMapa() {
            $("#vista").val(1);

            $('#lblVista').text("Vista de mapa");
            $('.resultados').hide();
            $('#mapid').show();
            cargarMapa();
        }

        function vistaCuadricula() {
            $("#vista").val(0);

            $('#lblVista').text("Vista de cuadrícula");
            $('.resultados').show();
            $('#mapid').hide();
        }

        function cargarMapa() {

           //map = L.map('mapid').setView([51.505, -0.09], 13);
            L.tileLayer('https://api.mapbox.com/v4/{id}/{z}/{x}/{y}.{format}?access_token={accessToken}', {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                maxZoom: 18,
                id: 'mapbox.streets',
                format: 'jpg70',
                accessToken: 'sk.eyJ1IjoiZ3JpY2FyZG92IiwiYSI6ImNqbnphd3FicjAwNHAzcG85bmowaWFyMDUifQ.CxTAN8PiT2jZkldTwukmPg'
            }).addTo(map);

            map.locate({ setView: true, maxZoom: 16 });

            map.on('locationfound', onLocationFound);
            map.on('locationerror', onLocationError);

            cargarUbicaciones();

        }

        function cargarUbicaciones() {
            @using System.Web.Script.Serialization;

           @{

               var json=@Html.Raw(new JavaScriptSerializer().Serialize(ViewBag.busqueda));
            }
           
            var json = JSON.parse('@json');

            for (var i in json) {

                // Obtengo el div de calificación con las estrellas
                var calificacionDiv = '<div class="text-center" style="width:100%; display:inline-block;">';

                for (var cal = 1; cal <= 5; cal++){

                    if (cal <= json[i].calificacion) {

                        calificacionDiv += '<span class="fa fa-star checked" style="margin-right:5px;"></span>';
                    }
                    else {

                        calificacionDiv += '<span class="fa fa-star" style="margin-right:5px;"></span>';
                    }

                }
                calificacionDiv += '</div>';      

                //alert(json[i].ubicacion.latitud);
                var arr = [json[i].ubicacion.latitud, json[i].ubicacion.longitud];
                L.marker(arr).addTo(map)
                    .bindPopup( '<div class="content"><div class="card"><div class="firstinfo"><img src="/imagenes/mila.jpg" />'+
                    '<div class="profileinfo"><h1>' + json[i].nombres +' '+json[i].apPaterno+'</h1><h3>' + json[i].especialidad +'<h3><h3> (' + json[i].distancia + ')</h3><p class="bio">' +
                    calificacionDiv+'</div></div></div></div>')
                    .openPopup();
            }
         
            
        }

        function onLocationFound(e) {
            // if position defined, then remove the existing position marker and accuracy circle from the map
            if (current_position) {
                map.removeLayer(current_position);
                map.removeLayer(current_accuracy);
            }

            var radius = e.accuracy / 2;

            current_position = L.marker(e.latlng).addTo(map)
                .bindPopup("Estás a aproximadamente " + radius + " metros de este punto").openPopup();

            current_accuracy = L.circle(e.latlng, radius).addTo(map);
        }

        function onLocationError(e) {
            alert(e.message);
        }


    });

</script>
