@model Temple.Models.PerfilInstructor

@{
    ViewBag.Title = "PerfilInstructor";
    Layout = "~/Views/Shared/_LayoutTemple.cshtml";
}

<link rel="stylesheet" href="~/Content/estiloPerfil.css" />
<script type="text/javascript" src="~/Content/scriptPerfil.js"></script>

<header style="margin-top:0px;">
    <figure class="profile-banner">
        <img id="fotoPortada" src="https://unsplash.it/975/300" alt="Profile banner" />
    </figure>
    <figure class="profile-picture"
            style="background-image: url('http://unsplash.it/150/150')">
    </figure>
    <div class="profile-stats">
        <ul>
            <li>@Html.DisplayFor(model => model.reseñas.Count)<span>Reseñas</span></li>
            <li>@Html.DisplayFor(model => model.cursos.Count)<span>Cursos</span></li>
            <li>324   <span>Clases dictadas</span></li>
            <li>@Html.DisplayFor(model => model.calificacion)/5<span>Calificación</span></li>
        </ul>
        <a href="javascript:void(0);" class="follow">
            Consultar
        </a>
        <a href="javascript:void(0);" class="follow">
            Contratar
        </a>
    </div>
    <h1>
        @Html.DisplayFor(model => model.nombres) @Html.DisplayFor(model => model.apPaterno) @Html.DisplayFor(model => model.apMaterno)
        <small>(@Html.DisplayFor(model => model.distancia))</small>
        <i class="fa fa-check-circle check"></i>

    </h1>
</header>
<hr />
<div class="datosPerfil">

    <small class="datosPerfil">Especialidad:</small>
    <textarea class="txtPerfil" placeholder="@Html.DisplayFor(model => model.especialidad)"></textarea>
    <small class="datosPerfil">Sobre mí:</small>
    <textarea class="txtPerfil" placeholder="@Html.DisplayFor(model => model.sobreMi)"></textarea>
</div>
<div class="controlesPerfil">

        <input class="pestana" id="tab1" type="radio" name="tabs" checked>
        <label class="lblPestana" for="tab1">Reseñas</label>

        <input class="pestana" id="tab2" type="radio" name="tabs">
        <label class="lblPestana" for="tab2">Cursos</label>

        <input class="pestana" id="tab3" type="radio" name="tabs">
        <label class="lblPestana" for="tab3">Horarios</label>

        <section class="contenidoControl" id="content1">
            <div class="container">
                <div class="row">
                    <div class="col-sm-11">
                        <div class="panel panel-white post panel-shadow">
                            <div class="post-heading">
                                <div class="pull-left image">
                                    <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
                                </div>
                                <div class="pull-left meta">
                                    <div class="title h5">
                                        <a href="#"><b>Ryan Haywood</b></a>
                                        
                                    </div>
                                    <h6 class="text-muted time">13/11/2018</h6>
                                </div>
                            </div>
                            <div class="post-description">
                                <p>Linda miss, sabe bastante y es guapísima!!</p>
                                <div class="stats">
                                    <a href="#" class="btn btn-default stat-item">
                                        <i class="fa fa-thumbs-up icon"></i>2
                                    </a>
                                    <a href="#" class="btn btn-default stat-item">
                                        <i class="fa fa-thumbs-down icon"></i>12
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>

        <section class="contenidoControl" id="content2">
            <p>
                Hermosa
            </p>
        </section>

        <section class="contenidoControl" id="content3">
            <p>
                Chusis
            </p>
        </section>

    </div>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apPaterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apPaterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apMaterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apMaterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.especialidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.especialidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sobreMi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sobreMi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.distancia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.distancia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.calificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.calificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.verificado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.verificado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.conectado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.conectado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
