
@{
    ViewBag.Title = "Mi Ubicacion";
    Layout = "~/Views/Shared/_LayoutTemple.cshtml";
}

<h2>Mi Ubicacion</h2>
<p>Desde esta página puedes editar tu ubicación</p>

<!--El modal de mensaje del sistema-->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="modalMensajeSistema">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Mensaje del sistema</h4>
            </div>
            <div class="modal-body">
                <p id="txtMensajeSistema"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="btnListo">Listo</button>
            </div>
        </div>
    </div>
</div>

<div id="mapid" style="display:block;"></div>
<div>
    <button class="btn btn-primary btn-block btn-md" style="margin-top:20px;" id="btnGuardar">Guardar ubicación</button>
</div>
@using (Html.BeginForm("MiUbicacion", "Instructor",FormMethod.Post, new { id = "formGuardar" }))
{

    @Html.Hidden("longitud", -1);
    @Html.Hidden("latitud", -1);

}
<script>
    var map;

    // placeholders for the L.marker and L.circle representing user's current position and accuracy
    var current_position, current_accuracy;

    cargarMapa();


    function cargarMapa() {

        try {
            // Cargo mi mapa
            map = L.map('mapid');

            map.invalidateSize();

            L.tileLayer('https://api.mapbox.com/v4/{id}/{z}/{x}/{y}.{format}?access_token={accessToken}', {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                maxZoom: 18,
                id: 'mapbox.streets',
                format: 'jpg70',
                accessToken: 'sk.eyJ1IjoiZ3JpY2FyZG92IiwiYSI6ImNqbnphd3FicjAwNHAzcG85bmowaWFyMDUifQ.CxTAN8PiT2jZkldTwukmPg'
            }).addTo(map);
            map.locate({ setView: true, maxZoom: 16 });
            mostrarUbicacionGuardada();

            map.on('locationfound', onLocationFound);
            map.on('locationerror', onLocationError);
        } catch (e) { }


    }

    function mostrarUbicacionGuardada() {

        // if position defined, then remove the existing position marker and accuracy circle from the map
        if (current_position) {
            map.removeLayer(current_position);
            map.removeLayer(current_accuracy);
        }

        //var radius = e.accuracy / 2;

        var icono = new L.Icon({
            iconUrl: '@Url.Content("~/imagenes/iconos/markerGuardado.png")',
            shadowUrl: '@Url.Content("~/imagenes/iconos/sombraMarkerGuardado.png")',
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            shadowSize: [41, 41]
        });

        var marcador=L.marker({ lat:'@ViewBag.ubicacion.latitud', lng:'@ViewBag.ubicacion.longitud'}, { icon: icono }).addTo(map)
            .bindPopup("Esta es tu ubicación guardada").openPopup();
        marcador.setOpacity(0.4);
        //current_accuracy = L.circle(e.latlng, radius).addTo(map);

            //$("#latitud").val(position.lat);
            //$("#longitud").val(position.lng);

    }

    function onLocationFound(e) {

        $("#latitud").val(e.latlng.lat);
        $("#longitud").val(e.latlng.lng);

        // if position defined, then remove the existing position marker and accuracy circle from the map
        if (current_position) {
            map.removeLayer(current_position);
            map.removeLayer(current_accuracy);
        }

        //var radius = e.accuracy / 2;

        current_position = L.marker(e.latlng, { draggable: 'true' }).addTo(map)
            .bindPopup("Se ha detectado tu ubicación en este punto, pero puedes mover este marcador para establecer tu ubicación exacta").openPopup();
        //current_accuracy = L.circle(e.latlng, radius).addTo(map);

        current_position.on('dragend', function (event) {
            var position = current_position.getLatLng();
            current_position.setLatLng(position, {
                draggable: 'true'
            }).bindPopup('Posición establecida en latitud: ' + position.lat + ', longitud: ' + position.lng).update();
            $("#latitud").val(position.lat);
            $("#longitud").val(position.lng);

        });



    }

    function onLocationError(e) {
        // Si no me quiere dar su ubicación, lo mando a la isla San Lorenzo JAJAJAJAJA
        $("#latitud").val('-12.088674392992298');
        $("#longitud").val('-77.21981048583986');

        // if position defined, then remove the existing position marker and accuracy circle from the map
        if (current_position) {
            map.removeLayer(current_position);
            map.removeLayer(current_accuracy);
        }

        //var radius = e.accuracy / 2;

        current_position = L.marker({ lat: '-12.088674392992298', lng: '-77.21981048583986' }, { draggable: 'true' }).addTo(map)
            .bindPopup("No se pudo establecer tu ubicación, pero puedes mover este marcador para establecerlo manualmente").openPopup();

        //current_accuracy = L.circle(e.latlng, radius).addTo(map);

        current_position.on('dragend', function (event) {
            var position = current_position.getLatLng();
            current_position.setLatLng(position, {
                draggable: 'true'
            }).bindPopup('Posición establecida en latitud: ' + position.lat + ', longitud: ' + position.lng).update();
            $("#latitud").val(position.lat);
            $("#longitud").val(position.lng);
        });
    }

    $('#btnGuardar').on('click', function () {

        if ($("#latitud").val() != -1 && $("#longitud").val() != -1) {

            $('#formGuardar').submit();

        } else {

            alert("Datos inválidos");

        }

    });

    if ('@ViewBag.mensaje' != '') {
        $("#txtMensajeSistema").text('@ViewBag.mensaje');

        $("#modalMensajeSistema").modal('show');

    }

    $("#btnListo").unbind("click").on("click", function () {
        $("#modalMensajeSistema").modal('hide');
        $("#txtMensajeSistema").text("");

    });



</script>

