<ul class="dropdown-menu">
    <li><a href="@Url.Action("Inicio","Instructor")">Mis anuncios</a></li>
    <li><a href="@Url.Action("MiPerfil","Instructor")">Mi perfil</a></li>
    <li><a href="@Url.Action("MisHorarios","Instructor")">Mis horarios</a></li>
    <li><a href="@Url.Action("MiUbicacion","Instructor")">Mi ubicación</a></li>
    <li><a href="@Url.Action("Configuracion","Instructor")">Configuración</a></li>
    <li><a href="@Url.Action("AcercaDe","Instructor")">Acerca de</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="@Url.Action("CerrarSesion","Instructor")">Cerrar sesión</a></li>
</ul>
