<ul class="dropdown-menu">
    <li><a href="@Url.Action("AnunciosInstructores","Alumno")">Anuncios de instructores</a></li>
    <li><a href="@Url.Action("MiPerfil","Alumno")">Mi perfil</a></li>
    <li><a href="@Url.Action("MisCitas","Alumno")">Mis citas</a></li>
    <li><a href="@Url.Action("MiUbicacion","Alumno")">Mi ubicación</a></li>
    <li><a href="@Url.Action("Configuracion","Alumno")">Configuración</a></li>
    <li><a href="@Url.Action("AcercaDe","Alumno")">Acerca de</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="@Url.Action("CerrarSesion","Alumno")">Cerrar sesión</a></li>
</ul>
